<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormularioRomana.Properties.Settings.ANAKENAConnectionString"
            connectionString="Data Source=186.67.226.157.;Initial Catalog=ANAKENA;Persist Security Info=True;User ID=sa;Password=Pall2015"
            providerName="System.Data.SqlClient" />
        <add name="FormularioRomana.Properties.Settings.GenesisConnectionString"
            connectionString="Data Source=186.67.226.157;Initial Catalog=Genesis;Persist Security Info=True;User ID=sa;Password=Pall2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>